<h1 align="center"><%= current_user.username %>'s Messages</h1>
<div class="ui text container">
	<% if current_user.messages.count > 0 %>
		<% @user_messages.each do |message| %>
			<div class="ui inverted segment">
				<div class="ui inverted relaxed divided list">
					<div class="item">
						<div class="content">
							<div class="header">
								<strong><%= message.created_at.strftime("%c") %></strong>
							</div>
							<em><%= message.user.username %></em>: <%= message.body %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	<% else %>
		<div class="ui text container">
			<p align="center">You have not created any messages.</p>
		</div>
	<% end %>
	<div class="row" align="center">
		<%= link_to "[ Return to Chatroom ]", root_path, class: "center" %>
	</div>
</div>
